/* --------------- Header navbar --------------- */
ul.nav.nav-pills {
    padding: 8px;
    height: 80px;
    background: #1F2B5A;
    border-radius: 80px;
}
.nav .start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 8px;
    margin-right: auto;
    width: 149px;
    height: 64px;
    background: #F8F9FD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 64px;
}
.nav .middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    margin: 0 auto;
}
.nav .end {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
}
li.nav-item.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    gap: 8px;
    width: 129px;
    height: 64px;
    background: #4AD7AA;
    border-radius: 80px;
}
.contact a.nav-link {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}
.nav-link {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #98A2B3;
}
/* --------------- End Header navbar --------------- */

/* --------------- Footer --------------- */
footer {
    background: #1F2B5A;
}
footer .start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .start a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 8px;
    width: 149px;
    height: 64px;
    background: #F8F9FD;
    border-radius: 64px;
}
footer .start p {
    width: 294px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}
footer .middle h5 {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 25px;
}
footer .middle a {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
}
footer .middle li {
    margin-top: 10px;
}
footer .end h1 {
    font-family: 'SCHABO';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}
/* --------------- End Footer --------------- */

