/* --------------- General --------------- */
.btn-primary {
    background: #1F2B5A;
    border: 1px solid #1F2B5A;
}
.bg-primary {
    background-color: #1F2B5A !important;
}
.btn-outline-primary {
    color: #1F2B5A;
    border: 1px solid #1F2B5A;
}
.info-text {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #677487;
}
/* --------------- End General --------------- */

/* --------------- Header navbar --------------- */
.header ul.nav.nav-pills {
    padding: 8px;
    height: 80px;
    background: #1F2B5A;
    border-radius: 80px;
}
.header .nav .start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 8px;
    margin-right: auto;
    width: 149px;
    height: 64px;
    background: #F8F9FD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 64px;
}
.header .nav .middle {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 32px;
    margin: 0 auto;
}
.header .nav .end {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px;
}
.header li.nav-item.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    gap: 8px;
    width: 129px;
    height: 64px;
    background: #4AD7AA;
    border-radius: 80px;
}
.header .contact a.nav-link {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}
.header .nav-link {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #98A2B3;
}
/* --------------- End Header navbar --------------- */

/* --------------- Footer --------------- */
footer {
    background: #1F2B5A;
}
footer .start {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .start a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    gap: 8px;
    width: 149px;
    height: 64px;
    background: #F8F9FD;
    border-radius: 64px;
}
footer .start p {
    width: 294px;
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}
footer .middle h5 {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 25px;
}
footer .middle a {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none;
}
footer .middle li {
    margin-top: 10px;
}
footer .end h1 {
    font-family: 'SCHABO';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}
/* --------------- End Footer --------------- */

/* --------------- Component - Arrow Button --------------- */
.arrow-btn {
    display: flex;
}
.arrow-btn .text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 32px;
    background: #1F2B5A;
    border-radius: 36px;
    flex: none;
    margin: 0px -16px;
    color: #fff;
    text-decoration: none;
}
.arrow-btn .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 32px;
    width: 64px;
    height: 64px;
    background: #4AD7AA;
    border: 1.5px solid #1F2B5A;
    border-radius: 36px;
}

.light.arrow-btn .text {
    background: #fff;
    color: #1F2B5A;
}
/* --------------- End Component - Arrow Button --------------- */

/* --------------- End Homepage --------------- */
.secondary-text {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 140%;
    color: #121212;
}
#intro .adv {
    height: 636px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
#intro .left {
    gap: 230px;
}
#intro .left .info-card {
    gap: 1px;
    width: 130px;
    height: 130px;
    background: #F0F4FD;
}
#intro .left .info-card .title {
    font-family: 'SCHABO';
    font-style: normal;
    font-size: 35px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #1F2B5A;
}
#intro .left .info-card .subtitle {
    font-family: 'Satoshi';
    font-style: normal;
    font-size: 12px;
    line-height: 120%;
    color: #677487;
}

/* Section 2 - brands */
.brands-container div {
    width: 306px;
    height: 160px;
    background: #F0F4FD;
}

/* Section 3 - tabs */
#tabs #pills-tab{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    width: 934px;
    height: 80px;
    background: #F0F4FD;
    border-radius: 80px;
}
#tabs .tab-pane {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 48px;
}
#tabs .nav-pills .nav-link.active {
    width: 306px;
    /* height: 64px; */
    background: #1F2B5A;
    color: #fff;
    border-radius: 36px;
}
#tabs .nav-pills .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 306px;
    height: 64px;
    background: #F0F4FD;
    color: #000000;
    border-radius: 36px;
}
#tabs .category-card {
    width: 400px;
    height: 489px;
}
#tabs .category-card img {
    position: relative;
    top: 85px;
}
#tabs .category-card .content {
    align-items: flex-start;
    padding: 30px;
    gap: 8px;
    background: #1F2B5A;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 400px;
    height: 272px;
    z-index: 1;
}

.homepage .bg-gradient-top {
    background: linear-gradient(180deg, #FFFFFF 0%, #AFBFFF 100%), #FFFFFF;
}
.homepage .bg-gradient-bottom {
    background: linear-gradient(360deg, #FFFFFF 0%, #AFBFFF 100%), #FFFFFF;
}
/* --------------- End Homepage --------------- */

/* --------------- About --------------- */
#about .info-section {
    background: rgb(141, 164, 254);
    background: linear-gradient(90deg, rgba(141, 164, 254, 1) 0%, rgba(203, 214, 254, 1) 50%, rgba(141, 164, 254, 1) 100%);
}
#about .info:first-child,
#about .info:last-child {
    padding-inline: 2rem;
}
#about .info .title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 38px;
}
#about .info .subtitle {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #677487;
}
/* --------------- End About --------------- */

/* --------------- Components - founder-card --------------- */
#founder-card .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 292px;
    height: 120px;
    background: #1F2B5A;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 32px;
}
#founder-card img {
    margin-bottom: -45px;
}
#founder-card .info .name {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    text-align: center;
}
#founder-card .info .title {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
}
/* --------------- End Components - founder-card --------------- */

/* --------------- Founders --------------- */
#founders .essay {
    padding: 40px;
    background: linear-gradient(180deg, #F5F7FF 0%, #E2E8FF 100%);
    border: 1px solid #FFFFFF;
    border-radius: 32px;
}
/* --------------- End Founders --------------- */

/* --------------- Vision --------------- */
#vision .bg-gradient-top {
    /* background: linear-gradient(180deg, #FFFFFF 0%, #AFBFFF 100%), #FFFFFF; */
    background-image: url(/assets-website/images/customers.svg);
    background-position: center;
    height: 666px;
}
#vision .bg-gradient-bottom {
    background: linear-gradient(360deg, #FFFFFF 0%, #AFBFFF 100%), #FFFFFF;
}
#vision .circel-gradient-bg {
    width: 250px;
    height: 250px;
    background: #8da4fe;
    box-shadow: 650.3704223632812px 650.3704223632812px 650.3704223632812px;
    border-radius: 9999px;
    filter: blur(150px);
    position: absolute;
    right: 0px;
}
#vision .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 24px;
}
#vision .item2 {
    display: grid;
    grid-template-rows: 349px 105px;
    gap: 24px;
}
#vision .sub-item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1F936E;
    border-radius: 28px;
    border: 1px rgba(255, 255, 255, 0.20) solid;
    padding: 20px 40px;
}
#vision .item3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}
#vision .content-10y {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1F936E;
    border-radius: 28px;
    border: 1px rgba(255, 255, 255, 0.20) solid;
    padding: 20px 40px;
    gap: 20px;
    height: 105px;
}
#vision .text-10y {
    color: white;
    font-size: 52px;
    font-family: SCHABO;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 62.40px;
    letter-spacing: 1.04px;
}
#vision .text-10y-desc {
    color: white;
    font-size: 16px;
    font-family: Satoshi;
    font-weight: 400;
    line-height: 24px;
}   
#vision .item4 {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
#vision .content-bottom {
    background: rgba(177, 193, 255, 0.20);
    border-radius: 20px;
    border: 1px rgba(255, 255, 255, 0.20) solid;
    backdrop-filter: blur(100px);
    padding: 12px 40px;
    text-align: center;
}
#vision .text-100 {
    color: white;
    font-size: 28px;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 36.40px;
}
#vision .text-satisfied {
    color: white;
    font-size: 14px;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 19.60px;
}
#vision .text-custom-1 {
    color: white;
    font-size: 24px;
    font-family: Satoshi;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
}
#vision .text-custom-2 {
    color: white;
    font-size: 14px;
    font-family: Satoshi;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}
/* --------------- End Vision --------------- */
